<form action="/random/results">
<div>
  <label for="rand_number">Minimum</label>
  <input id="rand_number" type="text" placeholder="E.g. 1.5" name="user_min">
  </div>

  <div>
    <label for="rand_number">Maximum</label>
  <input id="rand_number" type="text" placeholder="E.g. 4.5" name="user_max">
  </div>

  <div>
  <button>Pick random number</button>
  </div>
</form>
