<form action="/square_root/results">
<label for="user_number">Enter a number</label>

<input id="user_number" type="text" placeholder="What number do you want the square root of?" name="number">

<div>
<button>Calculate square root</button>
</div>
</form>
